
.nav{
  text-align: center;

  /* line-height: 0em; */
}
.main{
  width: 70%;
  border-radius: 10px;
  /* background:linear-gradient(165deg, rgb(250,224,119),rgb(255,190,148)) ; */
  margin: auto;
  padding: 2em;
}
.img{
  position: absolute;
  top: 30%;
  left: 10%;
  transform:rotate(330deg);
}
.img2{
  position: absolute;
  top: 100%;
  right: 10%;
  transform:rotate(330deg);
}
.btn{
  background-color: transparent;
  border: none;
  padding: 7px;
  font-size: 22px;
  font-weight: bolder;
  
}
.sprint{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.anim{
  width: 70px;
  background-color: rgb(252,208,131);
  height: 7px;
  border-radius: 10px;
  animation-name: sprint;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes sprint {
  from {width: 70px;}
  to{
   width: 20px;
   margin-left: 180px;
   display: none;
  }
}


@media (max-width: 845px){
  .img , .img2 {
    display: none;
  }
  .main{
    width: 100%;
  }
  
}
@media (max-width: 450px){
  .mode{
    width: 30px;
    height: 30px;
  }
  .period{
    width: 100% !important;
  }
}
